@page
@model ITP.WebApp.Pages.Vehicles.IndexModel
@{
    ViewData["Title"] = "Index";
}

    <h5>Prueba</h5>

    <input type="type" name="name" value="" placeholder="Prueba"/>
<div id="VehicleList">
    <partial name="_IndexVehiclePartial" model="Model.Vehicles" />
</div>