/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
    background-color: #253746;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    line-height: 5em; /* Vertically center the text there */
}

.footer .container-footer {
    background-color: #253746;
    width: 100%;
    position: absolute;
    color: white;
}

.container-footer{
    width: 100%;
}
/*#region Navbar */
.navbar {
    background-color: #253746 !important;
    height: 120% !important;
}

.navbar-brand{
    padding:5%;
}

.navbar ul li a {
    color: #ffffff !important;
    text-transform: uppercase;
    font-family: "Open Sans" !important, Sans-serif;
}

.sidenav {
    background-color: #253746 !important;
}
.sidenav li a {
    color: #ffffff !important;
    text-transform: uppercase;
    font-family: "Open Sans" !important, Sans-serif;
}

.sidenav li a:hover {
    color: #62e52c !important;
    box-shadow: none !important;
    border-color: none !important;
}

.navbar ul li a:hover {
    color: #62e52c !important;
    box-shadow: none !important;
    border-color: none !important;
}

.navbar-toggler-icon {
    color: #ffffff !important;
}

nav ul a {
    background-color: #253746 !important;
    color: #ffffff !important;
}

nav div ul li a:active {
    color: #62e52c !important;
}
a:active {
    color: #62e52c !important;
}

.item-nav {
    margin-top:1%;
}
/*#endregion */
/*#region Icons*/
div a span {
    margin-top: .5%;
    position: absolute;
    color: #62e52c;
    font-weight: bold;
}
div.button-item a i {
    color: #62e52c;
    font-weight: bold;
}

.button-item {
    background-color: #253746 !important;
    color: white !important;
    font-weight: bold;
}

.button-item-hover:hover {
    background-color: white !important;
    color: #62e52c !important;
    font-weight: bold;
}

.button-item-2:hover {
    background-color: white !important;
    color: #253746 !important;
    font-weight: bold;
}

.btn-team {
    background-color: #253746 !important;
    color: white !important;
    font-weight: bold;
}

.btn-team:hover {
    background-color: white !important;
    color: #62e52c !important;
    font-weight: bold;
}
/*#endregion */

/*#region Table */
.my-thead {
    background-color: #253746 !important;
    color: white !important;
}


/*#endregion */


/*#region General*/
.first-button{
    margin-bottom:2%;
}
.btn-text {
    margin-left: 2% !important;
    color:#253746  !important;
    font-size: 1.5em;
}

.btn-text:hover {
    margin-left: 2% !important;
    color: #62e52c !important;
    font-size: 1.5em;
}

.datepicker-date-display {
    background-color: #253746 !important;
    color: #62e52c !important;
}
.year-text {
    color: #62e52c !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #62e52c;
}

.select-month input {
    width: 80px !important;
}

th{
    text-align: center !important;
}

.a-table {
    margin-left: 20%;
}

.btn-table {
    margin-left: 30%;
}

.text-muted{
    text-align: center;
}

.no-data div h5{
    text-align: center;
}
.btn-center{
    margin-left: 40%;
}
.btn-center-vh {
    margin-left: 45%;
}
.user-nodata {
    margin-left: 42%;
    width: 10em !important;
    height: 10em !important;
}
.ins-container {
    background-color: slategray;
    border-radius: 10px;
}
.ins-table {
    width: 50% !important;
}
.ins-img{
    width: 30em !important;
}
.ins-container span {
    color: white;
}
.ins-title{
    color:white;
}
/*#endregion */
/*#region Cards */
.card-image-size {
    width: 150px;
    height: 150px;
}

.card-content-size {
    width: 70% !important;
    margin-right: 5%;
    margin-left: 20%;

}
.card-stacked {
    background-color: #253746;
}

.card-stacked span{
    color:white;
    font-size:1.5rem;
}
.card.horizontal .card-image img {
    height: 100% !important;
}
.container-cards {
    float: left;
    margin-bottom: 5% !important;
    margin-left: 0px !important;
}

.container-user-card {
    float: left;
    margin-bottom: 5% !important;
    margin-left: 0px !important;
}

.card.horizontal{
    height: 15rem !important;
}
.card-vehicle {
    width: 14rem;
    height: auto;
}

.row-data {
    margin-bottom: 0px !important;
    margin-left: 1% !important;
}

.vehicle-brand {
    text-transform: uppercase;
}

.btn-car{
    margin-left: 15% !important;
    width:70%;
    margin-bottom: 5% !important;
}
.btn-ins{
    text-align:center;
    margin-top:5% !important;
}

.vehicle-card {
}

.CardProfile{
    margin-bottom:35% !important;
    clear: both;
}
.add-vehicle{
    margin-left:5%;
}
.btn-row{
    margin-top: 5% !important;
    margin-bottom:5% !important; 
}
.container-sales{
    width: 120% !important;
    margin-left: -10% !important;
}
.warning-age{
    color: darkred;
    text-align: center;
    font-weight: bold;
}
/*#endregion */