/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*#region Navbar */
.navbar {
    background-color: #253746 !important;
    height: 120% !important;
}

.navbar-brand{
    padding:5%;
}

.navbar ul li a {
    color: #ffffff !important;
    text-transform: uppercase;
    font-family: "Open Sans" !important, Sans-serif;
}

.sidenav {
    background-color: #253746 !important;
}
.sidenav li a {
    color: #ffffff !important;
    text-transform: uppercase;
    font-family: "Open Sans" !important, Sans-serif;
}

.sidenav li a:hover {
    color: #62e52c !important;
    box-shadow: none !important;
    border-color: none !important;
}

.navbar ul li a:hover {
    color: #62e52c !important;
    box-shadow: none !important;
    border-color: none !important;
}

.navbar-toggler-icon {
    color: #ffffff !important;
}

nav ul a {
    background-color: #253746 !important;
    color: #ffffff !important;
}

nav div ul li a:active {
    color: #62e52c !important;
}
a:active {
    color: #62e52c !important;
}

.item-nav {
    margin-top:1%;
}
/*#endregion */
/*#region Icons*/
div a span {
    margin-top: .5%;
    position: absolute;
    color: #62e52c;
    font-weight: bold;
}
div.button-item a i {
    color: #62e52c;
    font-weight: bold;
}

.button-item {
    background-color: #253746 !important;
    color: white !important;
    font-weight: bold;
}

.button-item-hover:hover {
    background-color: white !important;
    color: #62e52c !important;
    font-weight: bold;
}

.button-item-2:hover {
    background-color: white !important;
    color: #253746 !important;
    font-weight: bold;
}

.btn-team {
    background-color: #253746 !important;
    color: white !important;
    font-weight: bold;
}

.btn-team:hover {
    background-color: white !important;
    color: #62e52c !important;
    font-weight: bold;
}
/*#endregion */

/*#region Table */
.my-thead {
    background-color: #253746 !important;
    color: white !important;
}


/*#endregion */


/*#region General*/
.first-button{
    margin-bottom:2%;
}
.btn-text {
    margin-left: 2% !important;
    color:#253746  !important;
    font-size: 1.5em;
}

.btn-text:hover {
    margin-left: 2% !important;
    color: #62e52c !important;
    font-size: 1.5em;
}
.card-image-size{
    width: 150px;
    height: 150px;
}
.card-content-size{
    width:27em !important;
    margin-right: 5%
}
.container-cards{
   
}
/*#endregion */